<div class="header_xs_dark_blue_skinny" style="margin-bottom: 10px">
  Earnings
</div>
<div class="full_width_white_box_container clearfix" style="text-align: center">
  <div class="earnings"><%= @user.display_total_earnings %></div>
</div>
<div class="header_xs_dark_blue_skinny" style="margin: 10px 0">
  Manager
</div>
<div class="full_width_white_box_container clearfix" style="text-align: center">
  <div class="people"><%= link_to @manager.name, manager_path(@user) %></div>
</div>
<div class="header_xs_dark_blue_skinny" style="margin: 10px 0">
  Products Sold
</div>
<% if @products.empty? %>
  <div class="full_width_white_box_container product_box clearfix" id="productsSoldEmpty" style="text-align: center">
    <div class="color_bar" style="background: #39474a"></div>
    <div class="empty">No products sold, yet.</div>
  </div>
<% else %>
  <% @products.each do |product| %>
    <div class="full_width_white_box_container product_box employee_product clearfix" data-product-id="<%= product.id %>">
      <div class="color_bar" style="background: <%= product.color %>"></div>
      <div class="contents">
        <%= product.title %>
        <div class="right"><%= display_number_sold(product.id) %></div>
        <div class="sub"><%= "Price: #{product.display_price}" %><%= " | #{product.commission_to_percent}% Commission" if !product.is_free? %></div>
      </div>
    </div>
  <% end %>
<% end %>
