<div class="container">
  <div class="form_box_md_container">
    <%= form_for(@user) do |f| %>
      <div class="form_box_md">
        <div class="<%= "field_with_errors" if @user.errors.include?(:name) %>">
          <%= f.label :name %>
        </div>
        <%= f.text_field :name, class: 'form_box_md_input_text' %>
        <div class="<%= "field_with_errors" if @user.errors.include?(:email) %>">
          <%= f.label :email %>
        </div>
        <%= f.text_field :email, class: 'form_box_md_input_text' %>
        <div class="<%= "field_with_errors" if @user.errors.include?(:password) %>">
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, class: 'form_box_md_input_text' %>
        <div class="<%= "field_with_errors" if @user.errors.include?(:manager) %>">
          <%= f.label :manager %>
        </div>
        <%= f.check_box :manager %>
        <div class="<%= "field_with_errors" if @user.errors.include?(:manager_id) %>">
          Manager Email
        </div>
        <input class="form_box_md_input_text" type="text" name="user[manager_email]" id="user_manager_email">
      </div>
      <%= f.submit 'Sign Up', class: 'form_full_btn' %>
      <p class="instruction_small_gray" style="text-align: center; margin: 20px 0">
        Or, if you are a manager, you can login with Facebook.
      </p>
      <%= link_to '/auth/facebook', id: 'facebook_btn' do %>
        <div class="facebook_full_btn">
          <span>Login with Facebook</span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
