<%= form_for(@sale) do |f| %>
  <div class="form_box_md">
    <div class="<%= "field_with_errors" if @product.errors.include?(:quantity) %>">
      <%= f.label :quantity %>
    </div>
    <%= f.text_field :title, class: 'form_box_md_input_text' %>
  <%= f.submit 'Add Sale', class: 'form_full_btn' %>
<% end %>
