<!DOCTYPE html>
<html>
  <head>
    <title>CommissionTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <% if logged_in? %>
            <%= link_to 'Commission Tracker', user_path(current_user) %>
          <% else %>
            <%= link_to 'Commission Tracker', root_path %>
          <% end %>
        </div>
        <% if logged_in? %>
          <% if current_user_is_manager? && is_current_users_profile? %>
            <%= link_to new_user_product_path(current_user) do %>
              <div class="button">
                New Product
              </div>
            <% end %>
          <% elsif is_current_users_profile? %>
            <div class="button">
              New Sale
            </div>
            <div class="form_box_md_container_popup">
              <div class="form_box_popup form_box_md">
                <%= form_for(@sale) do |f| %>
                  <div>
                    <%= f.label :product_id, 'Product' %>
                  </div>
                  <%= f.select(:product_id, @manager_products.collect {|p| [ p.title, p.id ] }, { include_blank: true }) %>
                  <div>
                    <%= f.label :quantity %>
                  </div>
                  <%= f.text_field :quantity, class: 'form_box_md_input_text' %>
                  <%= f.submit 'Add Sale', class: 'form_full_btn' %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="logout">
          <% if logged_in? %>
            <%= link_to 'Logout', logout_path %>
          <% else %>
            <%= link_to 'Login', login_path %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
